@model FSDP.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h2 class="h3 mb-4 text-center">User Details</h2>
                        <div>
                            <dt>
                                Email
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>
                            </dl>
                        </div>
                        <h4>List of roles for this user</h4>
                        @if (ViewBag.RoleNames.Count == 0)
                        {
                            <hr />
                            <p>No roles found for this user.</p>
                        }

                        <table class="table">

                            @foreach (var item in ViewBag.RoleNames)
                            {
                                <tr>
                                    <td>
                                        @item
                                    </td>
                                </tr>
                            }
                        </table>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

