@model FSDP.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<section class="py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2>Thank You!</h2>
                <p>
                    We have received your message and will respond to you as soon as possible.
                    <br />
                    - Travel Tunes Support
                </p>
            </div>
        </div>
    </div>
</section>