@model FSDP.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "EmailConfirmation";
}

<h2>Thank you!</h2>

<p>
    We have received your message and will respond to you as soon as possible.
    <br />
    - Travel Tunes Support
</p>
