@{
    ViewBag.Title = "Home";
}

<!-- Hero section-->
<section class="hero-home py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <p class="h6 text-uppercase text-primary mb-3">Search Open Positions</p>
                <h1 class="mb-5">Find the position that suits your skills</h1>
                <div class="p-2 rounded shadow-sm bg-white" action="#">
                    @using (Html.BeginForm("Index", "OpenPositions", FormMethod.Get))
                    {
                    <div class="input-group">
                        <input class="form-control border-0 mr-2" id="SearchString" name="SearchString" placeholder="Search by Position" type="text" value="">
                        <div class="input-group-append rounded">
                            <button class="btn btn-primary rounded" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section-->
<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-10 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <svg class="svg-icon mb-3 text-primary svg-icon-big">
                                    <use xlink:href="#list-details-1"> </use>
                                </svg>
                                <h2 class="h5">Upload Your Resume</h2>
                                <p class="text-muted text-small mb-0">You can do this when you sign up for an account or later on.</p>
                            </div>
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <svg class="svg-icon mb-3 text-primary svg-icon-big">
                                    <use xlink:href="#survey-1"> </use>
                                </svg>
                                <h2 class="h5">Browse Openings</h2>
                                <p class="text-muted text-small mb-0">Find an opening near you that suits your skills.</p>
                            </div>
                            <div class="col-lg-4">
                                <svg class="svg-icon mb-3 text-primary svg-icon-big">
                                    <use xlink:href="#stack-1"> </use>
                                </svg>
                                <h2 class="h5">One-Click Apply!</h2>
                                <p class="text-muted text-small mb-0">Just click apply... it's that easy!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Essential tools-->
<section class="pb-5">
    <div class="container pb-5">
        <header>
            <h2 class="h3 mb-1 text-center">Our tools</h2>
            <br />
        </header>
        <div class="row text-center align-items-stretch">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card reset-anchor border-0 shadow h-100 hover-transition">
                    <div class="card-body p-4 p-lg-5">
                        <div class="essential-tool-img mb-4 mx-auto" style="background: url(/Content/img/data.png)"></div>
                        <h3 class="h5"> <a class="stretched-link reset-anchor">Management and Tracking of Job Data</a></h3>
                        <p class="text-small text-muted mb-0">Managers and admins have varying access across the application for easy management of data.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card reset-anchor border-0 shadow h-100 hover-transition">
                    <div class="card-body p-4 p-lg-5">
                        <div class="essential-tool-img mb-4 mx-auto" style="background: url(/Content/img/application.png)"></div>
                        <h3 class="h5"> <a class="stretched-link reset-anchor">Applications Made Easy</a></h3>
                        <p class="text-small text-muted mb-0">Employees and prospective employees can create an account and upload their resume. With the simple click of a button, they can apply to any open position!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card reset-anchor border-0 shadow h-100 hover-transition">
                    <div class="card-body p-4 p-lg-5">
                        <div class="essential-tool-img mb-4 mx-auto" style="background: url(/Content/img/report.png)"></div>
                        <h3 class="h5"> <a class="stretched-link reset-anchor">Application Reports</a></h3>
                        <p class="text-small text-muted mb-0">Managers have easy access to application reports for their districts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories section-->
@*<section class="pb-5">
    <div class="container pb-5">
        <header class="text-center mb-5">
            <h2 class="mb-1">Explore by position</h2>
            <p class="text-muted text-small">Click a category to see open positions</p>
        </header>
        <div class="row text-center">
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#stack-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Marketing</a></h2>
                        <p class="categories-item-number small mb-0"> Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#pie-chart-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Management</a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#design-1"> </use>
                        </svg>
                        <h2 class="h5">Guitar<a class="stretched-link reset-anchor-inherit" href="#"></a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#mental-health-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Piano</a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#bookmark-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Drums</a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#checked-window-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Bass</a></h2>
                        <p class="categories-item-number small mb-0">3 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#list-details-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Operations</a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 px-lg-2">
                <div class="categories-item card border-0 shadow mb-4 reset-anchor hover-transition">
                    <div class="card-body px-4 py-5">
                        <svg class="svg-icon mb-3">
                            <use xlink:href="#sales-up-1"> </use>
                        </svg>
                        <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="#">Vocals</a></h2>
                        <p class="categories-item-number small mb-0">2 Items</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center pt-4"><a class="btn btn-primary" href="@Url.Action("Index", "OpenPositions")">Show all listings</a></div>
        </div>
    </div>
</section>*@